.calculator {
    height: 50vh;
    width: 20vw;
    border: 1px solid black;
    border-radius: 10px;
    background-color: darkgray;
}

.screen {
    height: 8vh;
    color: white;
    border-radius: 10px;
    margin: 10px;
    background-color: white;
}

.button {
    height: 6vh;
    width: 3vw;
    background-color: white;
    color: black;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    margin: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.keypad {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.equal {
    background-color: tomato;
}